h1 {
    text-align: center;
    margin: 100px;
    font-size: 400%;
    font-weight: bold;
    color: white;
}
p {
    text-align: center;
    margin: 50px 0px;
    font-size: 150%;
    color: white;
}
button {
    background-color: #242530;
    height: 100px;
    width: 300px;
    color: white;
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    font-size: 24px;
    border: 1px solid white;
}
button:hover {
    background-color: #1f2028;
    cursor: pointer;
    text-decoration: underline;
}
button:active {
    background-color: white;
    color: #242530
}
body {
    background-color: #36384b;
}
